[user]
	name = Cyril Robin
	email = cyril.robin@laas.fr
[push]
	default = matching
[core]
	editor = vim
[color]
	ui = auto
[http]
	sslVerify = false
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
